@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: 500px; text-align: center">
    <h1>e-Parafia</h1>
    <br/>
    <p class="lead">Witamy na stronie e-Parafia.</p>
</div>